.App {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  padding: 20px;
}

.chart-container {
  flex: 1;
  margin: 10px;
}

.chart-title {
  text-align: left;
  font-size: 24px;
}
.chart-description {
  font-size: 16px;
  color: rgb(115, 115, 115);
}

.chart {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height: 600px;
}
.tooltip {
  opacity: 0.9;
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 10;
}

/* StackedAreaChart.css */
.slider {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.thumb {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.track {
  height: 4px;
  background: #ccc;
  flex-grow: 1;
  margin: 0 15px;
}
